@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap");

* {
  padding: 0px;
  margin: 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

html {
  scroll-behavior: smooth;
  width: 100vw !important;
  overflow-x: hidden;
  overflow-y: hidden;
}


body {
  overflow-x: hidden;
  --main-blue:#1DA1F2;
  --main-opak-blue:#1893df;
  --second-blue:#e8f5fe;
  --gray-border:#eee;
  --main-gray:rgb(91, 112, 131);
  --second-gray:rgb(245, 245, 245);
}


a:hover {
  text-decoration: none;
}

button:focus, input:focus, textarea:focus{
  outline: none;
}



